<!DOCTYPE html>
<html class="invis" lang="en">
  <head>
    <%- include('../../partials/main-site-partials/head'); %>
    <link rel="stylesheet" href="/styles/main-site-styles/secondary.css" />
    <link rel="stylesheet" href="/styles/auth-styles/verify.css" />
  </head>
  <body>
    <%- include('../../partials/main-site-partials/aside'); %> <%-
    include('../../partials/main-site-partials/nav'); %> <%-
    include('../../partials/main-site-partials/banner'); %> <%-
    include('../../partials/auth-partials/welcome'); %> <%-
    include('../../partials/main-site-partials/footer'); %> <%-
    include('../../partials/main-site-partials/universal_scripts'); %>
    <script src="/scripts/auth-scripts/referrer.js"></script>
    <script src="/scripts/auth-scripts/welcome.js"></script>
  </body>
</html>
