<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/main-site-partials/head'); %>
    <link rel="stylesheet" href="/styles/main-site-styles/secondary.css" />
    <link rel="stylesheet" href="/styles/auth-styles/verify.css" />
  </head>
  <body>
    <%- include('../../partials/main-site-partials/aside'); %> <%-
    include('../../partials/main-site-partials/nav'); %> <%-
    include('../../partials/main-site-partials/banner'); %>
    <section>
      <h2>Welcome back!</h2>
      <p>Your account has been verified and you may now log in.</p>
      <a href="/login">Login</a>
    </section>
    <%- include('../../partials/main-site-partials/footer'); %> <%-
    include('../../partials/main-site-partials/universal_scripts'); %>
  </body>
</html>
