<!DOCTYPE html>
<html class="invis" lang="en">
  <head>
    <%- include('../../partials/main-site-partials/head'); %>
    <link rel="stylesheet" href="/styles/main-site-styles/secondary.css" />
    <link rel="stylesheet" href="/styles/create-styles/drafts.css" />
  </head>
  <body>
    <%- include('../../partials/main-site-partials/aside'); %> <%-
    include('../../partials/main-site-partials/nav'); %> <%-
    include('../../partials/main-site-partials/banner'); %>
    <div class="msg"><%=msg%></div>
    <%- include('../../partials/create-partials/drafts_body'); %> <%-
    include('../../partials/main-site-partials/footer'); %> <%-
    include('../../partials/main-site-partials/universal_scripts'); %>
    <script type="module" src="/scripts/create-scripts/draft.js"></script>
  </body>
</html>
