<!DOCTYPE html>
<html class="invis" lang="en">
  <head>
    <%- include('../../partials/main-site-partials/head'); %>
    <link rel="stylesheet" href="/styles/main-site-styles/secondary.css" />
    <link rel="stylesheet" href="/styles/main-site-styles/help_uni.css" />
    <link rel="stylesheet" href="/styles//main-site-styles/help.css" />
  </head>
  <body>
    <%- include('../../partials/main-site-partials/aside'); %> <%-
    include('../../partials/main-site-partials/nav'); %> <%-
    include('../../partials/main-site-partials/banner'); %>
    <div class="msg"><%=msg%></div>
    <%- include('../../partials/main-site-partials/message_board'); %> <%-
    include('../../partials/main-site-partials/footer'); %> <%-
    include('../../partials/main-site-partials/universal_scripts'); %>
    <script src="/scripts/main-site-scripts/help_uni.js"></script>
    <script src="/scripts/main-site-scripts/help.js"></script>
  </body>
</html>
