<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/auth.css" />
  </head>
  <body>
    <div class="menu-btn"><div class="menu-btn_burgir"></div></div>
    <aside><%- include('../partials/aside'); %></aside>
    <nav><%- include('../partials/nav'); %></nav>
    <header class="secondary"><h1><%=bannerTitle%></h1></header>
    <% if(title === "Login") { %> <%- include('../partials/login_form') %> <% }
    else if(title === "Register") { %> <%- include('../partials/register_form')
    %> <% } else if(title === "Delete") { %> <%-
    include('../partials/delete_form') %> <% } else { %> <%-
    include('../partials/info_form') %> <% } %> <%-
    include('../partials/universal_scripts'); %>
    <script type="module" src="/scripts/auth.js"></script>
  </body>
</html>
