<!DOCTYPE html>
<html class="invis" lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/auth.css" />
  </head>
  <body>
    <%- include('../partials/aside'); %> <%- include('../partials/nav'); %> <%-
    include('../partials/auth_banner'); %> <% if(title === "Login") { %> <%-
    include('../partials/login_form') %> <% } else if(title === "Register") { %>
    <%- include('../partials/register_form') %> <% } else if(title === "Delete")
    { %> <%- include('../partials/delete_form') %> <% } else { %> <%-
    include('../partials/info_form') %> <% } %> <% if(title === "Login") { %>
    <canvas class="background"></canvas>
    <% } else if(title === "Register") { %>
    <canvas class="background r"></canvas>
    <% } %> <%- include('../partials/universal_scripts'); %>

    <script src="/scripts/auth.js"></script>

    <% if(title === "Login") { %>
    <script type="module" src="/scripts/login.js"></script>
    <% } else if(title === "Register") { %>
    <script type="module" src="/scripts/register.js"></script>
    <% } else if(title === "Account") { %>
    <script type="module" src="/scripts/account.js"></script>
    <% } %>
  </body>
</html>
