<!DOCTYPE html>
<html class="invis" lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/secondary.css" />
    <link rel="stylesheet" href="/styles/create.css" />
    <% if(type === "lesson") { %> <%-
    include('../partials/tinymce_lesson_scripts') %> <% } else { %> <%-
    include('../partials/tinymce_exercise_scripts') %> <% } %>
  </head>
  <body>
    <%- include('../partials/aside'); %> <%- include('../partials/nav'); %> <%-
    include('../partials/banner'); %> <%- include('../partials/resource_info');
    %>
    <div class="textarea-wrapper">
      <textarea id="mytextarea"></textarea>
    </div>
    <div class="button-wrapper">
      <button class="no-click" id="publish">Publish</button>
      <button id="draft">Save Draft</button>
    </div>
    <%- include('../partials/footer'); %> <%-
    include('../partials/universal_scripts'); %> <% if(type === "lesson") { %>
    <script type="module" src="/scripts/create_lesson.js"></script>
    <% } else { %>
    <script type="module" src="/scripts/create_exercise.js"></script>
    <% } %>
  </body>
</html>
