<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/create.css" />
    <link rel="stylesheet" href="/styles/create_lesson.css" />

    <% if(type === "lesson") { %> <%-
    include('../partials/tinymce_lesson_scripts') %> <% } else { %> <%-
    include('../partials/tinymce_exercise_scripts') %> <% } %>
  </head>
  <body>
    <div class="menu-btn"><div class="menu-btn_burgir"></div></div>
    <aside><%- include('../partials/aside'); %></aside>
    <nav><%- include('../partials/nav'); %></nav>
    <header class="secondary">
      <h1><%=bannerTitle%></h1>
    </header>
    <div class="too-small">
      <p>Please enlarge browser window to continue editing this resource.</p>
    </div>
    <div class="create-wrapper">
      <%- include('../partials/resource_title_tags'); %>
      <div class="textarea-wrapper">
        <textarea id="mytextarea"></textarea>
      </div>
      <div class="buttons-wrapper">
        <%- include('../partials/publish_save_buttons'); %>
      </div>
    </div>
    <footer><%- include('../partials/footer'); %></footer>
    <%- include('../partials/universal_scripts'); %>
    <script type="module" src="/scripts/create_lesson.js"></script>
  </body>
</html>
