<!DOCTYPE html>
<html class="invis" lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/secondary.css" />
    <link rel="stylesheet" href="/styles/create_exercise.css" />
    <link rel="stylesheet" href="/styles/overlay.css" />
    <link rel="stylesheet" href="/styles/create.css" />
    <%- include('../partials/tinymce_exercise_scripts') %>
  </head>
  <body>
    <%- include('../partials/overlay'); %> <%- include('../partials/aside'); %>
    <%- include('../partials/nav'); %> <%- include('../partials/banner'); %>
    <div class="too-small">
      <p>Please enlarge browser window to continue editing this resource.</p>
    </div>
    <div class="create-wrapper">
      <%- include('../partials/resource_title_tags'); %>
      <div class="four-one-grid">
        <%-include('../partials/question'); %>
        <%-include('../partials/correct_answer'); %>
        <%-include('../partials/create_choices'); %> <%-
        include('../partials/publish_question_requirements'); %>
      </div>
      <div class="three-two-grid">
        <%- include('../partials/problem_set'); %> <%-
        include('../partials/publish_exercise_requirements'); %>
      </div>
    </div>
    <%- include('../partials/universal_scripts'); %>
    <script src="/mathtype/mathtype-generic/wirisplugin-generic.js"></script>
    <script src="/scripts/question_section.js"></script>
    <script src="/scripts/answer_section.js"></script>
    <script src="/scripts/choices_section.js"></script>
    <script src="/scripts/problem_set_section.js"></script>
    <script src="/scripts/create.js"></script>
    <script src="/scripts/create_exercise.js"></script>
  </body>
</html>
