<!DOCTYPE html>
<html class="invis" lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/drafts.css" />
  </head>
  <body>
    <%- include('../partials/aside'); %> <%- include('../partials/nav'); %> <%-
    include('../partials/banner'); %>
    <div class="msg"><%=msg%></div>
    <%- include('../partials/drafts_body'); %> <%-
    include('../partials/universal_scripts'); %>
    <script type="module" src="/scripts/draft.js"></script>
  </body>
</html>
