<!DOCTYPE html>
<html class="invis" lang="en">
  <head>
    <%- include('../partials/head'); %> <%- include('../partials/help_tinymce');
    %>
    <link rel="stylesheet" href="/styles/secondary.css" />
    <link rel="stylesheet" href="/styles/help.css" />
  </head>
  <body>
    <%- include('../partials/aside'); %> <%- include('../partials/nav'); %> <%-
    include('../partials/banner'); %> <%- include('../partials/footer'); %>
    <script src="/scripts/help_admin.js"></script>
    <%- include('../partials/universal_scripts'); %>
  </body>
</html>
