<!DOCTYPE html>
<html class="invis" lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/aside'); %> <%- include('../partials/nav'); %> <%-
    include('../partials/banner'); %>
    <div class="msg"><%=msg%></div>
    <footer><%- include('../partials/footer'); %></footer>
    <%- include('../partials/universal_scripts'); %>
  </body>
</html>
