<!DOCTYPE html>
<html class="invis" lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/secondary.css" />
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <%- include('../partials/aside'); %> <%- include('../partials/nav'); %> <%-
    include('../partials/home_content'); %>
    <footer><%- include('../partials/footer'); %></footer>
    <%- include('../partials/universal_scripts'); %>
    <script src="/scripts/home.js"></script>
  </body>
</html>
