<!DOCTYPE html>
<html class="invis" lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/secondary.css" />
    <link rel="stylesheet" href="/styles/resource.css" />
  </head>
  <body>
    <%- include('../partials/aside'); %> <%- include('../partials/nav'); %> <%-
    include('../partials/banner'); %>
    <div id="resource"></div>
    <%- include('../partials/footer'); %> <%-
    include('../partials/universal_scripts'); %>
    <script src="/scripts/lesson.js"></script>
  </body>
</html>
