<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="menu-btn"><div class="menu-btn_burgir"></div></div>
    <aside><%- include('../partials/aside'); %></aside>
    <nav><%- include('../partials/nav'); %></nav>
    <header class="secondary"><%- include('../partials/banner'); %></header>
    <div class="mission"><%=msg%></div>
    <footer><%- include('../partials/footer'); %></footer>
    <%- include('../partials/universal_scripts'); %>
  </body>
</html>
