<!DOCTYPE html>
<html class="invis" lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/secondary.css" />
    <link rel="stylesheet" href="/styles/confirm.css" />
  </head>
  <body>
    <%- include('../partials/aside'); %> <%- include('../partials/nav'); %> <%-
    include('../partials/banner'); %>
    <div id="confirm">
      <% if(title === "Verify") { %>
      <p>
        Please click the link we sent to your email to complete registration.
      </p>
      <% } else { %>
      <p></p>
      <a href="/login">Login</a>
      <% } %>
    </div>
    <%- include('../partials/universal_scripts'); %> <% if(title === "Welcome")
    { %>
    <script src="/scripts/welcome.js"></script>
    <% } else { %>
    <script src="/scripts/verify.js"></script>
    <%} %>
  </body>
</html>
